<html ng-app="chartApp">
	<head>
	<meta charset="utf-8">
		<script src="bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
		<script src="bower_components/angularjs/angular.js"></script>
		<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>	
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/highcharts/highcharts.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src='app.js'></script>	
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

	</head>
	<body ng-controller="chartCtrl" ng-init="initial()">
		<input type="file" id="data" ng-file-select="onFileSelect($files)">
		
		<!-- <table>
			<tr ng-repeat="data in csvdata">
				<td>{{data}}</td>
			</tr>
		</table> -->
		<!-- Step One : Fetch Data/ Confirm header -->
		<button ng-click="deleteHeader()">這資料本來就沒有欄位</button>
		<button ng-click="headerconsole()"></button>
		
		<div ng-repeat='header in dataHeaders'>
			<input type="text" ng-model="header" >
			<button ng-click="changeHeader(header,$index)">更改</button>
			<button ng-click="addColumn(header, $index)">加入</button>
			
		</div>
		<div>
			<button ng-click="cvnJSONStart()">確認Header，開始轉換資料</button>
		</div>

		<!-- Step Two : Add a Chart/ Setting -->
		<button ng-click="addCharts()">新增一張表</button>

		<div ng-repeat = "chart in charts">
			<div>
				第{{$index+1}}張表
				<input type="text" placeholder='名稱' ng-model="chart.title">
				<select ng-init="chart.type='column'" ng-model="chart.type">
					<option value="column">直方圖</option>
					<option value="line">折線圖</option>
				</select>
			</div>
			<div>
				
				<ul>
					目前的header:
					<li ng-repeat="header in chart.headers">
						{{header}}
						<button ng-click="classifyData(chart,header)">以這個作分類</button>
						<button ng-click="addxAxis(chart,header)">加入x軸(ONLY ONE)</button>
					</li>
				</ul>
			</div>
			<div>
				<div>
					目前x軸
					{{chart.xAxis}}
				</div>
				<div>
					目前y軸
					{{chart.yAxis}}
				</div>
				<div>
					目前Series
					{{chart.series}}
				</div>
			</div>
			<div>
				min：<input ng-init="newyaxis.min = 0" ng-model="newyaxis.min" type="number">
				title:<input ng-model="newyaxis.title.text" type="text">
				
				<button ng-click="addyAxis(chart, false)">增加y軸</button>
				<button ng-if="chart.yAxis[0]" ng-click="deleteyAxis(chart.yAxis, false)">刪除</button>
			</div>
			<div>
				min：<input ng-init="newyaxis_op.min = 0" ng-model="newyaxis_op.min" type="number">
				title:<input ng-model="newyaxis_op.title.text" type="text">
				
				<button ng-click="addyAxis(chart, true)">增加opposite的y軸</button>
				<button ng-if="chart.yAxis[1]" ng-click="deleteyAxis(chart.yAxis, true)">刪除</button>
			</div>
			<div>
				<ul>
					series分類完有{{chart.classify.keys.length}}個類別：
					<li ng-repeat = "(key, data) in chart.classify.keys">	{{key}}
						{{data}}
						
						<select ng-model='chart.yAxisChoice[key]'>
							<option value="{{y.num}}" ng-repeat="y in chart.yAxis">{{y.title.text}}</option>
						</select>
						<button ng-click="consoleY(chart.yAxis)">hey</button>
						<button ng-click="addSeries(chart,data, $index, chart.yAxisChoice[key])">加入series</button>
					</li>
				</ul>
			</div>
			

			<button ng-click="generateChart(chart)">產生圖表</button>
		</div>
				
		<div id="container" style="width:100%; height:400px;"></div>

		<script>
			


/*-------------------turn CSV into json-----------------------*/
	
/*-------------------turn CSV into json-----------------------*/

	function fillEmpty(origin){
		for(var i = 1; i < origin.length; i++){
			if(origin[i].date != moment(origin[i-1].date).add(1,'days').format("YYYY-MM-DD")){
				origin.splice(i,0,{date:moment(origin[i-1].date).add(1,'days').format("YYYY-MM-DD")})
				console.log(moment(origin[i-1].date).add(1,'days').format("YYYY-MM-DD"));
			}
		}	
	}

	function fillEmptyOther(origin, sample){
		for(var i = 0; i < sample.length; i++){
			if(!_.find(origin,function(org){return org.date === sample[i].date})){
				origin.splice(i,0,{
					date: sample[i].date,
					count: 0
				})
				console.log(sample[i].date)
			}
		}	
	}
			

			
		</script>
	</body>
</html>